<h1>Task Manager</h1>
<p>This is an application for managing a to do list</p>

<% x = 1  + 1 %><br />
<%= x %><br />

<ul>
<% tasks = ["Dance", "Draw", "Walk"] %>

 <% tasks.each do |task| %>

<li><%= task %></li> 
<% end %>
</ul>

